*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* google fonts */
body{
    font-family: 'PT Sans', sans-serif;
}
/* fine google fonts */


/* regole comuni */
p {
    line-height: 2.0em;
 }

/* sezione navbar */
nav {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0084fd;
    margin-bottom: 50px;
}

.logo-link{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 33px;
    align-items: center;
}

.nav-link{
    margin-top: 5px;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    padding: 8px;
}

.nav-links ul li a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 16px;
    color: white;
}

.nav-links ul li i{
    display: none;
    font-size: 26px;
    color: white;
}

#start{
    margin-left: 15px;

    padding: 10px 18px;
    border: transparent;
    border-radius: 25px;
    font-size: 15px;

    text-decoration: none;
    color: black;
    background-color: white;
}

/* fine sezione navabr */


/* inizio section 5 quadrati azzurri */
.container-get{
    background-color: #b5ddff;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 24px;
    padding: 32px 32px 0px 32px;
    margin-left: 33px;
    margin-right: 33px;
}

.container-text h2{
    font-size: 25px;
    color: #0084fd;
    padding-bottom: 30px;
}

.container-text p{
    color: #5a6e7f;
}

.container-image{
    width: 100%;
    text-align: center;
}

.container-image img{
    width: 60%;
}

.icon-text{
    background-color: #b5ddff;
    border-radius: 20px;
    margin-left: 33px;
    margin-right: 33px;
    text-align: center;
    margin-bottom: 24px;
    padding: 32px;
}

.icon-text h2{
    font-size: 25px;
    color: #0084fd;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.icon-text p{
    color: #5a6e7f;
}

.container #button{
    margin-top: 30px;
}

.container-text #button button{
    background-color: #0084fd;
    font-size: 18px;
    padding: 10px 40px;
    color: white;
    border: transparent;
    border-radius: 20px;
}

.icon-text i{
    font-size: 80px;
    color: #0084fd;
}
/*  fine section 5 quadrati azzurri*/


/* inizio section strategic planning */
.container-violet-planning{
    background-color: #9792e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 65px;
}

.container-violet-planning-img{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 90px;
}

.container-violet-planning img{
    width: 60%;
}

.container-violet-planning-text{
    text-align: left;
    margin-left: 33px;
    margin-right: 33px;
}

.container-violet-planning-text h2{
    margin-bottom: 58px;
}

.container-white{
    background-color: white;
    margin-left: 33px;
    margin-right: 33px;
    padding-bottom: 33px;
}

.container-white-img{
    width: 100%;
    text-align: center;
}

.container-white-text{
    text-align: left;
    margin-left: 33px;
    margin-right: 33px; 
}

.container-white-text #arrow{
    text-align: center;
}
/* fine section strategic planning */


/* inizio section testimonials */
.container-testimonials-text{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
}
.container-testimonials1,
.container-testimonials2,
.container-testimonials3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-testimonials1-img,
.container-testimonials2-img,
.container-testimonials3-img{
    background-color: #9792e4;
    width: 100%;
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    padding: 32px 0px 38px 0px;
    border-radius: 10%;
    margin-bottom: 32px;
}

.container-testimonials1-img img,
.container-testimonials2-img img,
.container-testimonials3-img img{
    width: 60%;
    border-radius: 50%;
}
.container-testimonials1-text,
.container-testimonials2-text,
.container-testimonials3-text{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
}
/* fine section testimonials */


/* inizio section benefits */
.container-violet-benefits{
    background-color: #9792e4;
    padding-bottom: 64px;
}

.container-violet-benefits-white{
    background-color: white;
    text-align: left;
    margin: 0px 33px 33px 33px;
    color: #9792e4;
    border-radius: 12px;
    padding-bottom: 32px;
}
/* fine section benefits */


/* inizio sezione about us */
.container-about{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 80px;
}

.container-about-img-text{
    text-align: left;
}

.container-about-img{
    width: 100%;
}

.container-about-img img{
    width: 60%;
    border-radius: 50%;
}
/* fine sezione about us */


/* inizio sexione get sturted */
.container-sturted{
    background-color: #9792e4;
    text-align: center;
}
/* fine sezione get sturted */


/* inizio footer */
footer{
    background-color: #333333;
    text-align: center;
}
/* fine footer */



/* media query*/
/* versione mobile */
@media screen and (min-width: 320px) {

    /* navbar */
    .nav-links ul li a{
        display: none;
    }

    .nav-link,ul li #start{
        display: none;
    }

    .nav-links ul li i{
        display: block;
    }
} 


/* versione laptop */
@media screen and (min-width: 992px) {

    /* navbar */
    .nav-links ul li a{
        display: none;
    }

    .nav-link,ul li #start{
        display: none;
    }

    .nav-link,ul li i{
        display: block;
    }


    /* section 5 quadrati azzurri */
    .container-image{
        width: 80%;
        text-align: left;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 33px;
        justify-content: space-between;
    }

    .container .container-get{
        width: calc(100% / 3 * 2 - 8px);
        margin-left: 0px;
        margin-right: 0px;
        gap: 20px;
    }

    .container .icon-text{
        width: calc(100% / 3 - 15px);
        margin-left: 0px;
        margin-right: 0px;
    }

    .container #button{
        margin-bottom: 30px;
    }


    /* section testimonials */
    .container-testimonials1-img,
    .container-testimonials2-img,
    .container-testimonials3-img{
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 25px;
    }

    .container-testimonials1 .container-testimonials1-photo,
    .container-testimonials2 .container-testimonials2-photo,
    .container-testimonials3 .container-testimonials3-photo{
        width: calc(100% / 3);
    }

    .container-testimonials1 .container-testimonials1-img .container-testimonials1-photo img,
    .container-testimonials2 .container-testimonials2-img .container-testimonials2-photo img,
    .container-testimonials3 .container-testimonials3-img .container-testimonials3-photo img{
        width: 100%;
    }

    .container-testimonials1 .container-testimonials1-text,
    .container-testimonials2 .container-testimonials2-text,
    .container-testimonials3 .container-testimonials3-text{
        text-align: left;
    }


    /* section benefits */
    .container-violet-benefits-cards{
        display: flex;
        flex-wrap: wrap;
        padding: 33px;
        gap: 10px;
        justify-content: space-between;
    }

    .container-violet-benefits-white{
        width: calc(100% / 2 - 20px);
        margin-left: 0px;
        margin-right: 0px;
    }


    /* section about us */
    .container-about{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;
    }

    .container-about-text{
        width: calc(100% / 3 * 2 - 80px);
        margin-left: 0px;
        margin-right: 0px;
        gap: 20px;
        text-align: left;
    }

    .container-about-img-text{
        width: calc(100% / 3 - 15px);
        margin-left: 0px;
        margin-right: 0px;
    }
}



/* versione Desktop */
@media screen and (min-width: 1200px) {

     /* navbar */
     .nav-links ul li a{
        display: block;
    }

    .nav-link,ul li #start{
        display: block;
    }

    .nav-links ul li i{
        display: none;
    }


    /* section 5 quadrati azzurri */
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    .container .container-get{
        display: flex;
    }

    .container .container-get .container-image{
        text-align: center;
        padding-right: 130px;
        margin-left: 40px;
        margin-top: 120px;
    }

    .container .container-get .container-image img{
        width: 200%;
    }


    /* section strategic planning */
    .container-planning{
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-violet-planning-img{
        width: calc(100% / 2);
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-white-big{
        width: calc(100% / 2);
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 200px;
    }

    .container-violet-planning-img{
        text-align: left;
    }

    .container-violet-planning-text{
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 200px;
    }


    /* section testimonials */
    .container-testimonials{
        max-width: 1200px;
        margin: 0 auto;
    }


    /* section benefits */
    .container-violet-benefits{
        padding-bottom: 0px;
    }

   .container-violet-benefits-cards{
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }

    .container-violet-benefits-white{
        width: calc(100% / 3 - 15px);
        margin: 0px 0px 20px 0px;
    }



    /* section about us */
    .container-about{
        max-width: 1050px;
        margin: 0 auto;
    }
}