*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* google fonts */
body{
    font-family: 'PT Sans', sans-serif;
}
/* fine google fonts */


/* sezione navbar */
nav {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0084fd;
    margin-bottom: 50px;
}

.logo-link{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    display: flex;

    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.nav-link{
    margin-top: 5px;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    padding: 8px;
}

.nav-links ul a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 16px;
    color: white;
}

.nav-links ul i{
    display: none;
    font-size: 26px;
    color: white;
}

#start{
    margin-left: 15px;

    padding: 10px 18px;
    border: transparent;

    text-decoration: none;
    color: black;
    background-color: white;
}

/* fine sezione navabr */


/* inizio section 5 quadrati azzurri */
.container-get{
    background-color: #b5ddff;
    text-align: left;
    margin-bottom: 24px;
    padding: 32px 32px 0px 32px;
    margin-left: 33px;
    margin-right: 33px;
}

.container-get .container-text #button{
    text-align: center;
}

.container-image{
    width: 100%;
    text-align: center;
}

.container-image img{
    width: 60%;
}

.icon-text{
    background-color: #b5ddff;
    margin-left: 33px;
    margin-right: 33px;
    text-align: center;
    margin-bottom: 24px;
    padding: 32px;
}

.icon-text i{
    font-size: 80px;
}
/*  fine section 5 quadrati azzurri*/


/* inizio section strategic planning */
.container-violet-planning{
    background-color: #9792e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 65px;
}

.container-violet-planning-img{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 90px;
}

.container-violet-planning img{
    width: 60%;
}

.container-violet-planning-text{
    text-align: left;
    margin-left: 33px;
    margin-right: 33px;
}

.container-violet-planning-text h2{
    margin-bottom: 58px;
}

.container-white{
    background-color: white;
    margin-left: 33px;
    margin-right: 33px;
    padding-bottom: 33px;
}

.container-white-img{
    width: 100%;
    text-align: center;
}

.container-white-text{
    text-align: left;
    margin-left: 33px;
    margin-right: 33px; 
}

.container-white-text #arrow{
    text-align: center;
}
/* fine section strategic planning */


/* inizio section testimonials */
.container-testimonials-text{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
}
.container-testimonials1,
.container-testimonials2,
.container-testimonials3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-testimonials1-img,
.container-testimonials2-img,
.container-testimonials3-img{
    background-color: #9792e4;
    width: 100%;
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    padding: 32px 0px 38px 0px;
    border-radius: 10%;
    margin-bottom: 32px;
}

.container-testimonials1-img img,
.container-testimonials2-img img,
.container-testimonials3-img img{
    width: 60%;
    border-radius: 50%;
}
.container-testimonials1-text,
.container-testimonials2-text,
.container-testimonials3-text{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
}
/* fine section testimonials */


/* inizio section benefits */
.container-violet-benefits{
    background-color: #9792e4;
    padding-bottom: 64px;
}

.container-violet-benefits-white{
    background-color: white;
    text-align: left;
    margin: 0px 33px 33px 33px;
    color: #9792e4;
    border-radius: 12px;
    padding-bottom: 32px;
}
/* fine section benefits */


/* inizio sezione about us */
.container-about{
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 80px;
}

.container-about-img-text{
    text-align: left;
}

.container-about-img{
    width: 100%;
}

.container-about-img img{
    width: 60%;
    border-radius: 50%;
}
/* fine sezione about us */


/* inizio sexione get sturted */
.container-sturted{
    background-color: #9792e4;
    text-align: center;
}
/* fine sezione get sturted */


/* inizio footer */
footer{
    background-color: #333333;
    text-align: center;
}
/* fine footer */




/* media query*/
/* versione mobile */
@media screen and (max-width: 480px) {
    .nav-link,#start{
        display: none;
    }

    .logo-link{
        max-width: 100%;
        margin: 0 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .nav-links ul i{
        display: block;
    }
}